body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: helvetica;
  font-size: 20px;
}
.name {
  background-color: #fff;
  margin: 50px 0;
  padding: 20px 5px;
  font-size: 2rem;
  text-align: center;
  text-transform: lowercase;
  font-weight: bold;
  color: aqua;
  animation: growUp ease 3s infinite;
}
@keyframes growUp {
  0% {
    background-color: #fff;
    color: aqua;
  }
  50% {
    background-color: aqua;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: aqua;
  }
}
#form-add {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-row: 1fr 1fr;
  grid-gap: 10px;
}
#upload-button {
  width: 280px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: aqua;
}
#download-button {
  width: 280px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #fdff7f;
}
